
.nav {
	grid-area: n;
	background-color: pink;
	display: flex;
	flex-direction: column;
	padding: 10px 15px;
}

.item a {
	color: #fff;
}

.item a:hover {
	color: rgb(92, 86, 86);
}

.item a.active {
	color: gold;
}
